.link__parent {
  box-sizing: border-box;
  margin: 0px 0px;
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif !important;
  font-size: 13.5px;
  padding: 10px 30px;
  text-align: center;
  background-color: rgb(207, 0, 0);
  width: 170px;
  border-radius: 5px;
  margin: 20px auto;
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
}
/* 
a:active {
  font-size: 17px;
  background-color: white;
} */

a:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}
