.nav_bar_index_light {
  /* background-color: black; */
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: white;
}

.nav_bar_body_light {
  display: flex;
  width: 100%;
  min-width: 100vw;
  min-height: 10vh;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 10px rgba(49, 49, 49, 0.1);
}

ul li {
  margin-left: 20px;
  float: right;
  padding: 10px 30px;
  background-color: rgb(3, 3, 167);
  border-radius: 10px;
  /* box-shadow: 0px 0px 5px 5px rgba(49, 49, 49, 0.1); */
}

.nav_bar_container_light{
  margin-right: 50px;
}

.nav_bar_container_light a{
  cursor: pointer;
}

.image_logo_light{
  height: 30px;
  width: 100%;
  object-fit: contain;
}


.logo_div_light{
  margin-left: 50px;
}