.navMenu {
  box-sizing: inherit;
  height: inherit;
  width: inherit;
  border-top: 1px solid rgb(240, 240, 240);
  padding-top: 30px;
  margin-top: 30px;
}

.icn {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.icn p {
  margin-left: 10px;
}

.icn:hover {
  background-color: rgb(3, 3, 141);
  border-radius: 10px;
  color: white;
  font-weight: 400;
  padding-left: 20px;
  transition: padding-left 0.7s ease;
  box-shadow: 5px 5px 10px 5px rgba(49, 49, 49, 0.1);
}

.icn:hover i {
  color: white;
}


