.action_icons {
  display: flex;
}

.uploads_list {
  width: inherit;
  background-color: white;
  border-radius: 10px;
  padding: 50px 50px;
}

.uploads_list_table {
  width: inherit;

  /* background-color: lightcoral; */
}

.uploads_list_table table {
  /* background-color: lightseagreen; */
  text-align: left;
  width: 100%;
  overflow: auto;
}

.uploads_list_table table th {
  background-color: rgb(207, 0, 0);
  padding: 20px 10px;
  color: white;
  border-radius: 5px;
}

.uploads_list_table table td {
  padding: 20px 2px;
}

.table_head {
}

.upload_create_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.upload_create_button button {
  outline: none;
  border: none;
  background-color: rgb(207, 0, 0);
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.upload_create_button button:hover {
  background-color: rgb(161, 2, 2);
  cursor: pointer;
  box-shadow: 10px 10px 10px 10px rgba(49, 49, 49, 0.05);
}

.upload_search_bar {
  /* width: inherit; */
  background-color: white;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 30px 0px;
}

.upload_search_bar form {
  display: flex;
}

.upload_search_bar form input {
  width: 100%;
  border: none;
  padding: 15px 50px;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  margin: 0px 10px;
}

.upload_search_bar form button {
  border-radius: 500px;
  border: none;
  padding: 0px 20px;
}

.upload_search_bar form input:focus {
  border: none;
}
